<ng-template #dialog >
  <forum-new-message-dialog (newMessage$)="onNewMessageRecieved($event)"></forum-new-message-dialog>
</ng-template>
<div *ngIf="messages" class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card mt-3">
      <div class="card-body d-flex flex-column ">
        <h5 class="card-title">All Messages</h5>
        <forum-message *ngFor="let message of messages"  [message]="message"></forum-message>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-success create-button" (click)="open(dialog)">New</button>

